
body{
  background-color: #A2DBFA;
  overflow-x: hidden;
}

.photo_of_me{
  display: block;
  margin: 0 auto;
  max-width: 50vw;
  margin-top: 5px;
}

@media only screen and (max-width: 426px) {
  .photo_of_me{
    width: 129px;
    height: 136px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 655px)  {
  .photo_of_me{
    width: 157px;
    height: 162px;
  }
}

@media only screen and (min-width: 656px) and (max-width: 1441px)  {
  .photo_of_me{
    width: 339px;
    height: 349px;
  }
}

.About_me{
  font-family: 'Poppins', sans-serif;
  font-size: 5.25vw;
}

@media only screen and (min-width: 319px) and (max-width: 1022px) {
  .About_me{
    font-size: 9.25vw;
  }
}

@media only screen and (min-width: 1023px)  {
  .About_me{
    font-size: 5.25vw;
  }
}

.About_me_paragraph{
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  line-height: 2;
  font-size: 1.6vw;
  margin-left: 2vw;
  margin-right: 2vw;
  word-spacing: .25vw;
}

@media only screen and (max-width: 426px) {
  .About_me_paragraph{
    font-size: 4.3vw;
  }
}

@media only screen and (min-width: 426px) and (max-width: 767px)  {
  .About_me_paragraph{
    font-size: 2.6vw;
  }
}

@media only screen and (min-width: 767px) and (max-width: 878px)  {
  .About_me_paragraph{
    font-size: 2.1vw;
  }
}

@media only screen and (min-width: 878px) and (max-width: 1025px)  {
  .About_me_paragraph{
    font-size: 2vw;
  }
}

.Education_title{
  font-family: 'Poppins', sans-serif;
  font-size: 5.25vw;
}

@media only screen and (min-width: 319px) and (max-width: 1023px) {
  .Education_title{
    font-size: 9.25vw;
  }
}

@media only screen and (min-width: 1023px)  {
  .Education_title{
    font-size: 5.25vw;
  }
}

.School_name{
  font-family: 'Roboto', sans-serif;
  font-size: 1.8vw;
  margin-left: 3vw;
}


@media only screen and (max-width: 426px) {
  .School_name{
    font-size: 4.3vw;
    margin-left: 9vw;
  }
}

@media only screen and (min-width: 426px) and (max-width: 767px)  {
  .School_name{
    font-size: 2.6vw;
    margin-left: 25vw;
  }
}

@media only screen and (min-width: 767px) and (max-width: 879px)  {
  .School_name{
    font-size: 3.1vw;
    margin-left: 19.5vw;
  }
}

@media only screen and (min-width: 879px) and (max-width: 1025px)  {
  .About_me_paragraph{
    font-size: 2vw;
  }
}

.Extracurriculars_title{
  font-family: 'Poppins', sans-serif;
  font-size: 1.8vw;
  margin-left: 12vw;
}

@media only screen and (max-width: 426px) {
  .Extracurriculars_title{
    font-size: 5.6vw;
    margin-left: 26vw;
  }
}

@media only screen and (min-width: 426px) and (max-width: 658px) {
  .Extracurriculars_title{
    font-size: 4.6vw;
    margin-left: 31vw;
  }
}

@media only screen and (min-width: 658px) and (max-width: 769px) {
  .Extracurriculars_title{
    font-size: 4.6vw;
    margin-left: 31vw;
  }
}


.Extracurriculars_text{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vw;
}


@media only screen and (max-width: 426px) {
  .Extracurriculars_text{
    font-size: 4.4vw;
  }
}

@media only screen and (min-width: 426px) and (max-width: 658px) {
  .Extracurriculars_text{
    font-size: 2.5vw;
  }
}

@media only screen and (min-width: 658px) and (max-width: 769px) {
  .Extracurriculars_text{
    font-size:  2.9vw;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1025px) {
  .Extracurriculars_text{
    font-size: 1.8vw;
    margin-left: -3.5vw;
  }
}

@media only screen and (min-width: 1275px) {
  .Extracurriculars_text{
    margin-left: -7vw;
  }
}

.Education_image{
  margin-top: -43vw;
  margin-left: 55vw;
  max-width: 40vw;
  height: 40vw;
}

@media only screen and (max-width: 426px) {
  .Education_image{
    margin-top: -17vw;
    margin-left: 70vw;
    width: 26vw;
    height: 31vw;
  }
}

@media only screen and (min-width: 426px) and (max-width: 658px) {
  .Education_image{
    margin-top: -116vw;
    margin-left: 56vw;
    height: 81vw;
  }
}
@media only screen and (min-width: 658px) and (max-width: 769px) {
  .Education_image{
    margin-top: -146vw;
    margin-left: 55vw;
    height: 40vw;
  }
}

.Work_and_volunteer_experience{
  font-family: 'Poppins', sans-serif;
  font-size: 5.25vw;
}

@media only screen and (min-width: 319px) and (max-width: 1023px) {
  .Work_and_volunteer_experience{
    font-size: 9.25vw;
  }
}

th, td {
  font-family: 'Roboto', sans-serif;
  padding: .75vw;;
  text-align: left;
}

@media only screen and (min-width: 1000px) {
  th,td{
    font-size: 1.3vw;
  }
}

.Work_image{
  margin-top: -33vw;
  margin-left: 52vw;
  max-width: 40vw;
}

@media only screen and (max-width: 426px) {
  .Work_image{
    margin-top: -1vw;
    margin-left: 28vw;
    height: 44vw;
  }
}

@media only screen and (min-width: 426px) and (max-width: 658px) {
  .Work_image{
    margin-top: -109vw;
    margin-left: 53vw;
    height: 44vw;
  }
}
@media only screen and (min-width: 658px) and (max-width: 769px) {
  .Work_image{
    margin-top: -53vw;
    margin-left: 52vw;
    max-width: 42vw;
  }
}

.Skills_title{
  font-family: 'Poppins', sans-serif;
  font-size: 5.25vw;
}

@media only screen and (min-width: 319px) and (max-width: 1023px) {
  .Skills_title{
    font-size: 9.25vw;
  }
}

.Hard_skills{
  font-family: 'Poppins', sans-serif;
  font-size: 2.25vw;
}

@media only screen and (min-width: 319px) and (max-width: 426px) {
  .Hard_skills{
    font-size: 5.25vw;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  .Hard_skills{
    font-size: 4.25vw;
  }
}

.Hard_skills_table{
  font-size: 2.4vw;
  margin-left: -0.5vw;
}

@media only screen and (min-width: 319px) and (max-width: 426px) {
  .Hard_skills_table{
    margin-left: -2.15vw;
    font-size: 4.4vw;
  }
}

@media only screen and (min-width: 426px) and (max-width: 658px) {
  .Hard_skills_table{
    font-size: 3.4vw;
    margin-left: -1.5vw;
  }
}

.Soft_skills{
  font-family: 'Poppins', sans-serif;
  font-size: 2.25vw;
  margin-top: 1vw;
}

@media only screen and (min-width: 319px) and (max-width: 426px) {
  .Soft_skills{
    font-size: 5.25vw;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  .Soft_skills{
    font-size: 4.25vw;
  }
}

.Soft_skills_text{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vw;
}

@media only screen and (min-width: 319px) and (max-width: 426px) {
  .Soft_skills_text{
    font-size: 4.25vw;
  }
}

@media only screen and (min-width: 426px) and (max-width: 658px) {
  .Soft_skills_text{
    font-size: 3.25vw;
  }
}

@media only screen and (min-width: 658px) and (max-width: 999px) {
  .Soft_skills_text{
    font-size: 2vw;
  }
}

.Skills_image{
  margin-top: -37vw;
  margin-left: 55vw;
  max-width: 38vw;
}

@media only screen and (max-width: 426px) {
  .Skills_image{
    margin-top: -2vw;
    margin-left: 30vw;
    max-width: 38vw;
  }
}

@media only screen and (min-width: 426px) and (max-width: 658px) {
  .Skills_image{
    margin-top: -106vw;
  }
}

.Accolades_title{
  font-family: 'Poppins', sans-serif;
  font-size: 5.25vw;
  margin-top: 3vh;
}

@media only screen and (min-width: 319px) and (max-width: 1023px) {
  .Accolades_title{
    font-size: 9.25vw;
  }
}

.Accolades_text{
  font-family: 'Roboto', sans-serif;
  margin-left: -1.5vw;
  font-size: 1.5vw;
}

@media only screen and (max-width: 426px) {
  .Accolades_text{
    margin-left: -7.5vw;
    font-size: 4.25vw;
  }
}

@media only screen and (min-width: 426px) and (max-width: 658px) {
  .Accolades_text{
    font-size: 2.5vw;
  }
}

@media only screen and (min-width: 658px) and (max-width: 999px) {
  .Accolades_text{
    font-size: 2.1vw;
  }
}

.accolade_image{
  margin-top: -16vw;
  margin-left: 61vw;
  max-height: 14vw;
}

@media only screen and (max-width: 426px) {
  .accolade_image{
    margin-left: 29vw;
    max-height: 22vw;
    margin-top: -2vw;
  }
}

@media only screen and (min-width: 426px) and (max-width: 658px) {
  .accolade_image{
    margin-left: 53vw;
    max-height: 22vw;
    margin-top: -43vw;
  }
}

@media only screen and (min-width: 658px) and (max-width: 769px) {
  .accolade_image{
    margin-top: -30vw;
    margin-left: 61vw;
    max-height: 19vw;
  }
}

.Project_title{
  font-family: 'Poppins', sans-serif;
  font-size: 5.25vw;
  margin-top: 3vh;
}

@media only screen and (min-width: 319px) and (max-width: 1023px) {
  .Project_title{
    font-size: 9.25vw;
  }
}


@media only screen and (max-width: 426px) {
  .Project_image{
    width: 63vw;
  }
}

.Project_one_title{
  font-family: 'Poppins', sans-serif;
  font-size: 2.25vw;
  margin-top: 2vh;
}

@media only screen and (min-width: 319px) and (max-width: 600px) {
  .Project_one_title{
    font-size: 6.25vw;
  }
}

@media only screen and (min-width: 600px) and (max-width: 999px) {
  .Project_one_title{
    font-size: 4.25vw;
  }
}

.My_value_added{
  font-family: 'Poppins', sans-serif;
  font-size: 1.9vw;
  margin-top: 2vw;
}

@media only screen and (min-width: 319px) and (max-width: 999px) {
  .My_value_added{
    font-size: 5.6vw;
  }
}

@media only screen and (min-width: 999px) and (max-width: 1399px) {
  .My_value_added{
    font-size: 2.1vw;
  }
}

.What_I_did_first_text{
  font-family: 'Roboto', sans-serif;
  font-size: 1.4vw;
}

@media only screen and (max-width: 426px) {
  .What_I_did_first_text{
    font-size: 4vw;
  }
}

@media only screen and (min-width: 426px) and (max-width: 657px) {
  .What_I_did_first_text{
    font-size: 2vw;
  }
}


@media only screen and (min-width: 657px) and (max-width: 769px) {
  .What_I_did_first_text{
    font-size: 2.1vw;
  }
}

.Contact_title{
  margin: 3vh;
}

.bottom-container{
  background-color: white;
  padding-bottom: .5vh ;
}

.footer-link-button{
  padding-top: 2.5vh;
}

.copyright{
  padding-top: 1.5vh;
}

.fa-linkedin{
  padding: 11px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 18px 2px;
  background: #007bb5;
  color: white;
}

.fa-github{
  padding: 11px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 18px 2px;
  background: #007bb5;
  color: black;
}