body{
  background-color: #8fd6e1;
  margin: 0;
  overflow-x: hidden;
}

@media only screen and (max-width: 426px) {
  .photo_of_me{
    width: 129px;
    height: 136px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1441px)  {
  .photo_of_me{
    width: 339px;
    height: 349px;
  }
}

.photo_of_me{
  display: block;
  margin: 0 auto;
  max-width: 50vw;
}
